/* Set Global Styles */
html {background:#FFF;}
body {font:12px/1.5 arial,helvetica,sans-serif; color:#222; width: 274px; height: 350px}

a:link, a:visited {text-decoration:none; color:red;}
/*img {padding:5px; margin:4px 5px 5px 0; background:#fff;}*/
h2, #options_header {font-size:18px; text-align:left;}
#main_temp {font-size:32px;}
#header {background-color: #E1E6FA; border-bottom:1px solid #999; height:40px;}
/*#addl_conditions {text-align: right;}*/
h6, #current_conditions td {font-size:11px;}
#forecast_information, #current_conditions {background:#fff;  padding:5px 10px; border-top:1px solid #fff; border-bottom:1px solid #999;}
#forecast_conditions td{background:#E1E6FA;  padding:3px 5px; border-bottom:1px solid #999; font-size:16px;}
#current_conditions {height: 70px;}
#current_conditions img {width: 70px;}
#current_conditions table{width: 100%;}
#city_search {padding:7px 3px 3px 10px;}
#city_form {margin: 0px;}
/*#location {width: 40px;float: right;}*/
#forecast_information span {display:block; font-size:16px; font-weight:bold; text-shadow:0 1px #fff; text-align: center}
.forecast_day  {width:50px;}
/*.forecast_icon {width:84px;}*/
.temp_high {font-weight:bold; color:#FF9933;}
.temp_low {color:#0099FF;}
.conditions_info {width:150px;}
.condition {font-weight:bold;}
/*#forecast_conditions td {width:95px;} *//* this width makes sure that the weather desc don't wrap - adjust for diff page sizes */
#forecast_conditions td img {float:left; margin-top:3px; width:50px;}


#options {border-bottom:none}
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }


.template {display:none;}
